body {
    background-color: hsla(0, 0%, 0%, 0.475);
    margin: 0;
  }
  
  .container {
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    height: auto;
    min-height: 10rem;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    p {
      font-size: 22px;
    }
    .currentSongs{
      height: 70vh;
      background-color:darkslategrey;
      border-radius: 20px;
    }
    .allSongs{
      h1{
        margin: 0;
      margin-bottom: 10px;
      }
    }
    .songs {
      cursor: pointer;
     background-color:rgb(50, 49, 49);
      height: 50px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      &:hover{
        opacity: 0.7;
      }
     
      p {
        margin: 0;
      }
    }
  }


  
  .controls {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    button {
      width: 50px;
      height: 50px;
      background-color: hsl(248, 95%, 43%);
      border: none;
      border-radius: 50%; // This replaces the previous border-radius
      font-size: 25px;
      cursor: pointer;
    }
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  // Media Queries
  @media (max-width: 767px) {
    .container {
      width: 100%;
      margin-left: 0;
  
      .songs{
        min-height: 100px;
        width: auto;
        height: auto;
      }
    }
   
  }
  
  @media (min-width: 768px) and (max-width: 1217px) {
    .container {
   
      width: 100%;
      margin-left: 0%;
      .currentSongs{
        height: 50vh;
      }
    }

  }
  